<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    
</head>
<body class="bg-blue-900   font-sans text-gray-800">

    <!-- Container Utama -->
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg mt-8">

        <!-- Tanggal & Kategori -->
        <div class="text-gray-500 text-sm mb-4">
        </div>

        <!-- Judul Artikel -->
        <h1 class="text-3xl font-bold text-gray-900 mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, soluta.</h1>

        <!-- Subjudul -->
        <p class="text-gray-700 mb-6">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quisquam eos reiciendis nisi praesentium totam debitis illum nesciunt quas recusandae?        </p>

        <!-- Isi Artikel -->
        <p class="text-gray-700 mb-4">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, non repudiandae quasi quos necessitatibus quis accusamus! Debitis aperiam voluptatibus sunt.        </p>

        <!-- Gambar Grid -->
        <div class="flex ">
            <!-- Gambar-gambar artis -->
            <img src="{{url_for('static', filename='/img/diabetes.jpg')}}" alt="Artist 1" class=" ml-36 my-32 h-96 rounded-lg">
        </div>

        <!-- Paragraf Penjelasan -->
        <p class="text-gray-700 mb-4">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ipsam corrupti, ut illum natus rerum unde fugit odio quam at, dolorem doloribus, ex magni asperiores vero. Nihil pariatur consequatur reiciendis.        </p>

        <!-- Paragraf Penutup -->
        <p class="text-gray-700">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sed eum asperiores vero nisi impedit totam sunt architecto itaque voluptatibus animi ducimus mollitia dolore exercitationem, cum culpa tempore aperiam officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, illo aut. Inventore iusto veritatis dolorem quae esse voluptates ipsa, labore ex optio odit maxime error quia voluptatem quidem. Possimus, consequuntur.        </p>

    </div>

</body>
</html>