<nav class="bg-white shadow-lg rounded-xl flex items-center justify-center p-5">
  <ul class="ml-16 flex space-x-8">
    <li>
      <a href="#" 
         class="text-black no-underline px-4 py-1 font-normal hover:text-gray-500 transition duration-300">
        Home
      </a>
    </li>
    <li>
      <a href="{{ url_for('artikel') }}" 
         class="text-black no-underline px-4 py-1 font-normal hover:text-gray-500 transition duration-300">
        Artikel
      </a>
    </li>
    <li>
      <a href="{{ url_for('cek_rs') }}" 
         class="text-black no-underline px-4 py-1 font-normal hover:text-gray-500 transition duration-300">
        Rekomendasi
      </a>
    </li>
  </ul>
</nav>

